:root {
    --blue: #78c1fa;
    --purple: #5458c2;
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
    --section-size: 20em;
}

@keyframes background-pan {
	0% {
		background-position: 0% 50%;
        size: 100%;
	}
	50% {
		background-position: 100% 50%;
        size: 200%;
	}
	100% {
		background-position: 0% 50%;
        size: 200%;
	}}

.panel {
    height: 1000px;
}

.blue-section {
    font-family: "Prata", serif;
    place-items: center;
    background-color: var(--blue);
    height: var(--section-size);
}

.white-section {
    font-family: "Prata", serif;
    background-color: #36393F;
    color: var(--blue);
    height: var(--section-size);
    position: relative;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    text-align: center;
}

.magic-txt {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.magic:hover {
	background: linear-gradient(-45deg, 
    var(--purple), var(--blue));
	background-size: 400% 400%;
	animation: background-pan 2s ease infinite;
    
}

.header-txt {
    position: relative;
    size: 20px;
}

.alexandre {
    color: var(--blue);
    position: absolute;
    left: 50px;
    top: 50px;
}

.simon {
    color: var(--purple);
    position: absolute;
    left: 100px;
    top: 100px;
}

.btns {
    display: flex;
    justify-content: center;
    
}

.btn-container {
    max-width: 200px;
    margin: 7vw;
    position: absolute;
    border: none;
    border-radius: 50%;
}

.about-btn {
    left: 100px;
    bottom: 50px;
}

.skills-btn {
    bottom: 0px;
}

.projects-btn {
    right: 100px;
    bottom: 50px;
}

.circle-btn {
    cursor: pointer;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: var(--blue);
}
.circle-btn:hover {
    background-color: transparent;
}
