:root {
    --blue: #78c1fa;
    --purple: rgb(84, 88, 194);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
    --gray: #36393F;
    --darkBlue: #6289E3;
    --darkerBlue: #4C6AB0;
    --section-size: 100vh;
    --title-size: clamp(2rem, 5rem, 10rem);
    --small-screen: 768px;
    --translateAmt: -400;
}

.hide-overflow {
    overflow: hidden;
}

@keyframes background-pan {
	0% {
		background-position: 0% 0%;
	}
	30% {
		background-position: 100% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	80% {
		background-position: 0% 0%;
	}
    100% {
		background-position: 0% 0%;
    }
}

@keyframes titleFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.4);
    }
    80% {
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes titleSlideIn {
    0% {
        left: -50%;
    }
    100% {
        left:  0;
    }
}
@keyframes subtitleSlideIn {
    0% {
        left: -150%;
        opacity: 0;
    }
    20% {
        left: -150%;
        opacity: 0;
    }
    100% {
        left:  0;
        opacity: 1;
    }
}

@keyframes pageTransition {
    0% {
        width: 0vw;
        height: 0vw;
    }
    100% {
        width: calc(200vb + 150vw);
        height: calc(200vb + 150vw);
    }
}
@keyframes pageTransitionTxt {
    0% {
        margin-top: 0px;
        margin-left: 0px;
        font-size: calc(-1rem + 1.5vw + 5vh);        
    }
    10% {
        margin-top: 0px;
        margin-left: 0px;
        font-size: calc(-1rem + 1.5vw + 5vh);        
        color: white;
    }
    100% {
        margin-top: -30px;
        margin-left: -12px;
        font-size: calc(2rem + 1.5vw + 5vh);
        color: var(--purple);
    }
}
@keyframes pageTransitionHide {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes txtFloat {
    0% {
        transform: translate(0px, 0px);
    }
    33% {
        transform: translate(0px, 5px);
    }
    66% {
        transform: translate(0px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes btnDisable {
    0% {
        cursor: context-menu;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0 0px 5px rgba(255, 255, 255, 0);
        color: rgba(84, 88, 194, 0);
    }
    90% {
        background-color: rgba(255, 255, 255, 0);
        cursor: context-menu;
        box-shadow: 0 0px 5px rgba(255, 255, 255, 0);
        color: rgba(84, 88, 194, 0);
    }
    100% {
        background-color: rgba(255, 255, 255, 1);
        cursor: pointer;
        box-shadow: 0 0px 5px white;
        color: rgba(84, 88, 194, 1);
    }
}

.title-section {
    width: 100%;
    background-color: var(--blue);
    height: 100vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

.title {
    position: relative;
    animation: 
        titleSlideIn 1.2s ease forwards, 
        titleFadeIn 1s ease forwards, 
        background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        white
    );
    background-size: 15000%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.title-pos {
    text-align: center;
    top: 10%;
}

.subtitle {
    position: relative;
    animation: 
        subtitleSlideIn 1.8s ease forwards, 
        titleFadeIn 1s ease forwards, 
        background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        white
    );
    background-size: 15000%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.subtitle-pos {
    text-align: center;
    top: 8.5%;
}

.name {
    font-size: clamp(0rem, calc(-1rem + 5vw + 3vh), 6rem);
    font-weight: 1000;
}
.software-dev {
    font-size: clamp(0rem, calc(-1.5rem + 4vw + 3vh), 4rem);
}


.btns {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 9vh;
    margin-top: calc(25vh + -4.2vw);
}
.btnAnimating {
    font-size: calc(-1rem + 1.5vw + 5vh);
    position: relative;
    width: 5em;
    height: 1.5em;
    text-align: center;
    border-radius: 50px;
    font-family: 'NavBtnTxt';
    background-color: white;
    box-shadow: 0 0px 5px white;
    color: var(--purple);
    transition: 300ms;
    animation: btnDisable 3.75s linear;
}
.btn {
    font-size: calc(-1rem + 1.5vw + 5vh);
    position: relative;
    width: 5em;
    height: 1.5em;
    text-align: center;
    border-radius: 50px;
    font-family: 'NavBtnTxt';
    background-color: white;
    box-shadow: 0 0px 5px white;
    color: var(--purple);
    transition: 300ms;
    animation: btnDisable 3.75s linear;
}
.btn:hover {
    background-color: rgba(84, 88, 194, 1);
    box-shadow: 0 0px 50px var(--purple);
    color: white;
    width: clamp(5em, 70%, 10em);
}

.btn-txt {
    position: relative;
    z-index: 1;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -45%);
}

.btn-container {
    width: clamp(5rem, 20rem, 20rem);
    height: clamp(5rem, 20rem, 20rem);
    position: relative;
    background-color: transparent;
    transition: 200ms;
}

.btn-container > .btn-content {
    font-size: 50px;
    color: var(--purple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.click-anim {
    color: white;
    animation: pageTransitionTxt 1.8s ease forwards;
}

.click-anim::before {
    content: "";
    position: absolute;
    background-color: var(--purple);
    border-radius: 50%;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    z-index: 1;
    border-width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pageTransition 2s ease forwards;
}

.hide {
    animation: pageTransitionHide 1s ease forwards;
}

.contactBar {
    position: fixed;
    width: 100%;
    bottom: 0%;
    background-color: var(--purple);
    height: clamp(10px, 7vh, 60px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.contactTxt {
    color: white;
    font-family: 'VarelaRound';
    font-size: clamp(0.5rem, 2vw, 1.5rem);
    animation: txtFloat 2s infinite;
}

.contactBtn {
    background-color: white;
    width: clamp(10px, 5vh, 45px);
    height: clamp(10px, 5vh, 45px);
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
    transition: 100ms;
}
.contactBtn:hover {
    width: clamp(10px, 5vh, 48px);
    height: clamp(10px, 5vh, 48px);
    box-shadow: white 0px 0px 4px 0.4px;
}

.contactInfo {
    width: clamp(10px, 5vh, 45px);
    height: clamp(10px, 5vh, 45px);
    border-radius: 15px;
    padding: 5px;
    transition: 100ms;
}

.contactInfoTxt {
    color: white;
    font-family: 'VarelaRound';
    font-size: clamp(0.5rem, 2vw, 1.5rem);
    position: relative;
    top: 3px;
}

.svg {
    opacity: 1;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 56%;
    overflow: visible;
    stroke: white;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: 500s;
}

.btn:hover > .svg {
    opacity: 0;
    transition: 0ms;
}

