html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@keyframes openPopup {
    0% {
        opacity: 0;
        width: 0%;
        height: 0%;
        top: 120vh;
    }
    1% {
        width: 70%;
        height: 90%;
    }
    100% {
        top: 5vh;
        opacity: 1;
        width: 70%;
        height: 90%;
    }
}
@keyframes closePopup {
    0% {
        width: 70%;
        height: 80%;
    }
    60% {
        opacity: 0;
        
    }
    100% {
        width: 0%;
        height: 0%;
        opacity: 0;
    }
}
@keyframes imgBlurFade {
    0% {
        filter: blur(0px);
    }
    30% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0px);
    }
}

.projectScrollbar {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.projectScrollbar::-webkit-scrollbar {
    width: 16px;
}
.projectScrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid transparent;
}
.projectScrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: var(--blue);
}

.navbar-btn-clicked {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "NavBtnTxt";
    font-size: clamp(0rem, calc(1rem + 3vw), 5rem);
    text-decoration: none;
    z-index: 5;
    transition: 200ms;
}
.navbar-btn-clicked::before {
    content: "";
    position: relative;
    left: 50%;
    top: -3%;
    width: 10px;
}

.projectsContent {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.project {
    position: relative;
    width: 25%;
    height: 300px;
    background-color: var(--darkBlue);
    border: 2px var(--blue) solid;
    z-index: 1;
    overflow: hidden;
}
.project:hover {
    background-color: var(--darkerBlue);
    cursor: pointer;
}

.projectImg {
    position: absolute;
    opacity: 0.8;
    width: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(0.5px);
    transition: 300ms;
}
.project:hover > .projectImg {
    animation: imgBlurFade 600ms ease forwards;
}
.project:hover > .projectImg {
    opacity: 1;
    width: 250%;
}

.project > .hoverIcon {
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--purple);
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 17px;
    font-family: 'JosefinSans';
    padding-top: 80px;
    transition: 400ms;
}
.project:hover > .hoverIcon {
    opacity: 1;
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--purple);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    font-family: 'JosefinSans';
    line-height: 1;
}

.project > .projectIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: relative;
    top: -90px;
    left: 10px;
    transition: 500ms;
}
.project:hover > .projectIcon {
    transform: scale(110%);
    background-color: rgba(255, 255, 255, 1);
    transition: 200ms;

}
.projectIconImg {
    width: 50px;
    transition: 500ms;
}
.project:hover > .projectIcon > .projectIconImg {
    transition: 200ms;
}


.projectPopup {
    z-index: 10;
    position: fixed;
    display: block;
    left: 50%;
    transform: translate(-50%, -0%);
    background-color: var(--darkerBlue);
    overflow: auto;
    width: 20%;
    border-radius: 10px;
    border: var(--blue) 3px solid;
    animation: openPopup 800ms ease forwards;
}
.projectPopupClose {
    z-index: 10;
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--darkerBlue);
    animation: closePopup 500ms ease forwards;
}

.closeBtn {
    z-index: 1;
    position: fixed;
    top: 12px;
    right: 25px;
    font-size: 30px;
    line-height: 38px;
    font-family: 'VarelaRound';
    text-align: center;
    background-color: darkgray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 300ms;

}

.closeBtn:hover {
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

@keyframes backPanelFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.backPanel {
    position: fixed;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
    animation: backPanelFade 200ms ease forwards;
}

.popupContent {
    background-color: var(--darkerBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.popupImg {
    width: 100%;
}

.popupContent > h2 {
    font-family: 'VarelaRound';
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: -5px;
    color: var(--blue);
}
.popupContent > p {
    font-family: 'VarelaRound';
    padding: 0px 10px 0px 30px;
    font-size: 18px;
    
}

@keyframes newProjectsAnim {
    0% {
        transform: translate(-10%, 0%) scale(110%);
    }
    25% {
        transform: translate(0%, -100%) scale(130%);
    }
    50% {
        transform: translate(10%, 0%) scale(110%);
    }
    75% {
        transform: translate(0%, 100%) scale(130%);
    }
    100% {
        transform: translate(-10%, 0%) scale(110%);

    }
}
.newProjects {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 170px 50px 50px 50px;
}
.newProjectsTxt {
    font-size: 2em;
    font-family: 'VarelaRound';
    color: var(--blue);
    animation: newProjectsAnim 10s infinite linear;
}

.projectVid {
    width: 100%;
}

.behind {
    z-index: -10;
}

.hideFast {
    opacity: 0;
    display: none;
}


@media (max-width: 5000px) {
    .project {
        width: 16.666%;
    }
}
@media (max-width: 1820px) {
    .project {
        width: 20%;
    }
}
@media (max-width: 1380px) {
    .project {
        width: 25%;
    }
}
@media (max-width: 1080px) {
    .project {
        width: 33.33%;
    }
}
@media (max-width: 800px) {
    .project {
        width: 50%;
    }
}

